h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    margin: 0 auto;
}

.starter{
  font-size:30px;;
  padding:10px;
  display:block;
  margin:0 auto;
  border:3px solid blue;
}

#output{
  background-color:pink;
  height: 100px;
}

p#output {
    text-align: left;
}